# Pandas Fuction

In [10]:
import pandas as pd

In [11]:
csv1=pd.read_csv("data1.csv")
csv1.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [5]:
csv1.index

RangeIndex(start=0, stop=2392, step=1)

In [6]:
print(csv1.columns)

Index(['StudentID', 'Age', 'Gender', 'Ethnicity', 'ParentalEducation',
       'StudyTimeWeekly', 'Absences', 'Tutoring', 'ParentalSupport',
       'Extracurricular', 'Sports', 'Music', 'Volunteering', 'GPA',
       'GradeClass'],
      dtype='object')

In [7]:
csv1.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [8]:
csv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

# DropNa and FillNa

In [12]:
csv1.head(25)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
5,1006,18,0,0,1,8.191219,0,0,1,1,0,0,0,3.084184,1.0
6,1007,15,0,1,1,15.601680,10,0,3,0,1,0,0,2.748237,2.0
7,1008,15,1,1,4,15.424496,22,1,1,1,0,0,0,1.360143,4.0
8,1009,17,0,0,0,4.562008,1,0,2,0,1,0,1,2.896819,2.0
9,1010,16,1,0,1,18.444466,0,0,3,1,0,0,0,3.573474,0.0
10,1011,17,0,0,1,11.851364,11,0,1,0,0,0,0,2.147172,3.0
11,1012,17,0,0,1,7.598486,15,0,2,0,0,0,1,1.559595,4.0
12,1013,17,0,1,1,10.038712,21,0,3,1,0,0,0,1.520078,4.0
13,1014,17,0,1,2,12.101425,21,0,4,0,1,0,0,1.751581,4.0
14,1015,18,1,0,1,11.197811,9,1,2,0,0,0,0,2.396788,3.0
15,1016,15,0,0,2,9.728101,17,1,0,0,1,0,0,1.341521,4.0
16,1017,18,0,3,1,10.098656,14,0,2,1,1,0,0,2.232175,3.0
17,1018,18,1,0,0,3.528238,16,1,2,0,0,0,0,1.384404,4.0
18,1019,18,0,1,3,16.254658,29,0,2,1,0,0,1,0.469553,4.0
19,1020,17,0,0,1,10.835206,9,0,2,0,0,1,0,2.395784,3.0
20,1021,16,1,0,3,2.621597,2,0,3,0,0,0,1,2.778411,2.0
21,1022,15,0,0,2,15.323142,25,0,1,1,0,0,0,0.346894,4.0
22,1023,16,1,1,0,18.648880,29,1,1,0,0,0,0,0.312546,4.0
23,1024,18,1,3,4,18.946138,20,0,2,1,0,0,0,1.770132,4.0
24,1025,18,1,0,1,7.380355,15,0,2,0,0,0,0,1.505156,4.0

In [13]:
d1=pd.read_csv("data.csv")
d1

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [14]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [15]:
d1.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [17]:
d1.head(50)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
27        60    103       132       NaN
28        60    100       132     280.0
29        60    102       129     380.3
30        60     92       115     243.0
31        45     90       112     180.1
32        60    101       124     299.0
33        60     93       113     223.0
34        60    107       136     361.0
35        60    114       140     415.0
36        60    102       127     300.0
37        60    100       120     300.0
38        60    100       120     300.0
39        45    104       129     266.0
40        45     90       112     180.1
41        60     98       126     286.0
42        60    100       122     329.4
43        60    111       138     400.0
44        60    111       131     397.0
45        60     99       119     273.0
46        60    109       153     387.6
47        45    111       136     300.0
48        45    108       129     298.0
49        60    111       139     397.6

In [18]:
d1.tail(50)

     Duration  Pulse  Maxpulse  Calories
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [29]:
d1[d1.isna().any(axis=1)]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [31]:
d1[d1.isna().any(axis=1)]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [20]:
d1[51:70]

    Duration  Pulse  Maxpulse  Calories
51        80    123       146     643.1
52        60    106       130     263.0
53        60    118       151     486.0
54        30    136       175     238.0
55        60    121       146     450.7
56        60    118       121     413.0
57        45    115       144     305.0
58        20    153       172     226.4
59        45    123       152     321.0
60       210    108       160    1376.0
61       160    110       137    1034.4
62       160    109       135     853.0
63        45    118       141     341.0
64        20    110       130     131.4
65       180     90       130     800.4
66       150    105       135     873.4
67       150    107       130     816.0
68        20    106       136     110.4
69       300    108       143    1500.2

In [24]:
d1.dropna()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [22]:
d1.head(50)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
27        60    103       132       NaN
28        60    100       132     280.0
29        60    102       129     380.3
30        60     92       115     243.0
31        45     90       112     180.1
32        60    101       124     299.0
33        60     93       113     223.0
34        60    107       136     361.0
35        60    114       140     415.0
36        60    102       127     300.0
37        60    100       120     300.0
38        60    100       120     300.0
39        45    104       129     266.0
40        45     90       112     180.1
41        60     98       126     286.0
42        60    100       122     329.4
43        60    111       138     400.0
44        60    111       131     397.0
45        60     99       119     273.0
46        60    109       153     387.6
47        45    111       136     300.0
48        45    108       129     298.0
49        60    111       139     397.6

In [25]:
d2=d1.dropna()
print(d2)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [26]:
d2.head(50)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
28        60    100       132     280.0
29        60    102       129     380.3
30        60     92       115     243.0
31        45     90       112     180.1
32        60    101       124     299.0
33        60     93       113     223.0
34        60    107       136     361.0
35        60    114       140     415.0
36        60    102       127     300.0
37        60    100       120     300.0
38        60    100       120     300.0
39        45    104       129     266.0
40        45     90       112     180.1
41        60     98       126     286.0
42        60    100       122     329.4
43        60    111       138     400.0
44        60    111       131     397.0
45        60     99       119     273.0
46        60    109       153     387.6
47        45    111       136     300.0
48        45    108       129     298.0
49        60    111       139     397.6
50        60    107       136     380.2
51        80    123       146     643.1

In [28]:
d2[100:150]

     Duration  Pulse  Maxpulse  Calories
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0

In [32]:
d2

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [34]:
d1[1:30]

    Duration  Pulse  Maxpulse  Calories
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
27        60    103       132       NaN
28        60    100       132     280.0
29        60    102       129     380.3

In [37]:
d3=d1.fillna("python")
d3

     Duration  Pulse  Maxpulse Calories
0          60    110       130    409.1
1          60    117       145    479.0
2          60    103       135    340.0
3          45    109       175    282.4
4          45    117       148    406.0
..        ...    ...       ...      ...
164        60    105       140    290.8
165        60    110       145    300.0
166        60    115       145    310.2
167        75    120       150    320.4
168        75    125       150    330.4

[169 rows x 4 columns]

In [38]:
d3[1:30]

    Duration  Pulse  Maxpulse Calories
1         60    117       145    479.0
2         60    103       135    340.0
3         45    109       175    282.4
4         45    117       148    406.0
5         60    102       127    300.0
6         60    110       136    374.0
7         45    104       134    253.3
8         30    109       133    195.1
9         60     98       124    269.0
10        60    103       147    329.3
11        60    100       120    250.7
12        60    106       128    345.3
13        60    104       132    379.3
14        60     98       123    275.0
15        60     98       120    215.2
16        60    100       120    300.0
17        45     90       112   python
18        60    103       123    323.0
19        45     97       125    243.0
20        60    108       131    364.2
21        45    100       119    282.0
22        60    130       101    300.0
23        45    105       132    246.0
24        60    102       126    334.5
25        60    100       120    250.0
26        60     92       118    241.0
27        60    103       132   python
28        60    100       132    280.0
29        60    102       129    380.3

In [41]:
d=pd.read_csv("companydata.csv")
d

,Order_Number,State_Code,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales,Assigned Supervisor
0,139374.0,AP,Adhir Samal,11/01/2020,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450.0,1.0,6500.0,8450.0,Ajay Sharma
1,139375.0,AP,Dannana Jhammi,11/01/2020,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500.0,11050.0,3.0,25500.0,33150.0,Roshan Kumar
2,139376.0,AS,Vipin Kumar,11/01/2020,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,2.0,14000.0,18200.0,Aarvi Gupta
3,139377.0,BR,Ranjeet Kumar,11/01/2020,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515.0,3.0,19650.0,25545.0,Vijay Singh
4,139378.0,CG,Sajal Singhal,11/01/2020,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650.0,9945.0,4.0,30600.0,39780.0,Aadil Khan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,144464.0,TN,Rahul Kumar Prajapati,31/12/2022,Delivered,406 GB SSD,SSD,Samsung,4500.0,5850.0,1.0,4500.0,5850.0,Ajay Sharma
5106,144465.0,TR,Sagar Jeur,31/12/2022,Shipped,Intel i3 11th gen.,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Roshan Kumar
5107,144466.0,UK,Rhushikesh Mane,31/12/2022,Order,4GB Graphic card,Graphic Card,Nvidia,12500.0,16250.0,2.0,25000.0,32500.0,Aarvi Gupta
5108,144467.0,UP,Ashish Kumar,31/12/2022,Processing,158 GB DDR4 RAM,RAM,Hynix,3500.0,4550.0,2.0,7000.0,9100.0,Vijay Singh
5109,144468.0,WB,Javed Akhter,31/12/2022,Delivered,BTX motherboard,Motherboard,Gigabyte,4500.0,5850.0,3.0,13500.0,17550.0,Aadil Khan

In [47]:
d["Total_Cost"].sum()

76383110.0

In [48]:
d["Total_Sales"].sum()

99298043.0

In [52]:
d["Total_Sales"].max()

75400.0

In [53]:
d["Total_Sales"].min()

455.0

In [51]:
len(d['Brand'])

5110

In [57]:
d[0:51]

,Order_Number,State_Code,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales,Assigned Supervisor
0,139374.0,AP,Adhir Samal,11/01/2020,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450.0,1.0,6500.0,8450.0,Ajay Sharma
1,139375.0,AP,Dannana Jhammi,11/01/2020,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500.0,11050.0,3.0,25500.0,33150.0,Roshan Kumar
2,139376.0,AS,Vipin Kumar,11/01/2020,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,2.0,14000.0,18200.0,Aarvi Gupta
3,139377.0,BR,Ranjeet Kumar,11/01/2020,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515.0,3.0,19650.0,25545.0,Vijay Singh
4,139378.0,CG,Sajal Singhal,11/01/2020,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650.0,9945.0,4.0,30600.0,39780.0,Aadil Khan
5,139379.0,CG,Akhilesh Kumar,11/01/2020,Order,Compact with 1 Fan,Cabinet,Asus,1150.0,1495.0,2.0,2300.0,2990.0,Advika Joshi
6,139380.0,CG,Suvankar Chakraborty,11/01/2020,Order,USB Backlight Keyboard,Keyboard,Dell,850.0,1105.0,3.0,2550.0,3315.0,Ajay Sharma
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,139381.0,CG,Suvankar Adhikary,12/01/2020,Order,Ergonomic Mouse,Mouse,Samsung,650.0,845.0,2.0,1300.0,1690.0,Ajay Sharma
10,139382.0,CG,Rahul Kumar Prajapati,13/01/2020,Order,"15"" LCD Dsipaly",Monitor,Dell,7500.0,9750.0,1.0,7500.0,9750.0,Roshan Kumar
11,139383.0,JK,Sagar Jeur,14/01/2020,Order,2 TB HDD,HDD,Seagate,10000.0,13000.0,3.0,30000.0,39000.0,Aarvi Gupta
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,139384.0,JH,Rhushikesh Mane,15/01/2020,Order,1 TB SSD,SSD,Samsung,10500.0,13650.0,1.0,10500.0,13650.0,Aadil Khan
14,139385.0,KA,Ashish Kumar,16/01/2020,Order,Intel i5 12th gen.,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Advika Joshi
15,139386.0,KL,Javed Akhter,17/01/2020,Order,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,2.0,14000.0,18200.0,Ajay Sharma
16,139387.0,KL,Haridas Balraj,18/01/2020,Processing,4 GB DDR4 Ram,RAM,Hynix,1680.0,2184.0,1.0,1680.0,2184.0,Ajay Sharma
17,139388.0,KL,Kundan Kumar,19/01/2020,Processing,Micro ATX motherboard,MotherBoard,MSI,6540.0,8502.0,2.0,13080.0,17004.0,Roshan Kumar
18,139389.0,MN,Atif Siddiqui,20/01/2020,Processing,Gaming Box Cabinet,Cabinet,Asus,2680.0,3484.0,1.0,2680.0,3484.0,Aarvi Gupta
19,139390.0,ML,Aditya Agarwal,21/01/2020,Processing,"17"" LCD Display",Monitor,Samsung,8250.0,10725.0,2.0,16500.0,21450.0,Vijay Singh
20,139391.0,MZ,Firdoush Jabee,22/01/2020,Processing,8 GB DDR4 RAM,RAM,Samsung,2650.0,3445.0,4.0,10600.0,13780.0,Aadil Khan
21,139392.0,NL,Jay Prakash Kumar,22/01/2020,Processing,"26"" LCD Display",Monitor,Acer,12550.0,16315.0,2.0,25100.0,32630.0,Advika Joshi
22,139393.0,OR,Ashish Pandey,22/01/2020,Processing,I7 - intel 12th Generation,CPU,Intel,14500.0,18850.0,2.0,29000.0,37700.0,Ajay Sharma
23,139394.0,PB,Ajay Sharma,22/01/2020,Processing,USB Keyboard,Keyboard,Dell,800.0,1040.0,1.0,800.0,1040.0,Roshan Kumar
24,139395.0,RJ,Moinuddin Saifi,22/01/2020,Processing,Wireless Mouse,Mouse,Samsung,600.0,780.0,3.0,1800.0,2340.0,Aarvi Gupta
25,139396.0,SK,Ramkrishna Das Adhikary,22/01/2020,Processing,"21"" LCD Display",Monitor,Dell,10500.0,13650.0,4.0,42000.0,54600.0,Vijay Singh
26,139397.0,TN,Ranjeet Mandal,23/01/2020,Processing,2 TB HDD,HDD,Western Digital,6500.0,8450.0,1.0,6500.0,8450.0,Aadil Khan
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,139398.0,TR,Ashwini Adsare,24/01/2020,Processing,257 GB SSD,SSD,Samsung,4500.0,5850.0,4.0,18000.0,23400.0,Ajay Sharma
29,139399.0,UK,Rajesh Variya,25/01/2020,Processing,Intel i3 11th gen.,CPU,Intel,8500.0,11050.0,2.0,17000.0,22100.0,Roshan Kumar
30,139400.0,UP,Amit Singh,26/01/2020,Processing,4GB Graphic card,Graphic Card,Nvidia,12500.0,16250.0,2.0,25000.0,32500.0,Aarvi Gupta
31,139401.0,WB,Vinod Mehta,26/01/2020,Shipped,9 GB DDR4 RAM,Computer Case,Hynix,3500.0,4550.0,3.0,10500.0,13650.0,Vijay Singh
32,139402.0,TN,Jignesh Mhatre,26/01/2020,Order,BTX motherboard,Mouse,Gigabyte,4500.0,5850.0,4.0,18000.0,23400.0,Aadil Khan
33,139403.0,TR,Rahul Kashyap,26/01/2020,Order,4 Fans Cabinet,Cabinet,Asus,2100.0,2730.0,3.0,6300.0,8190.0,Advika Joshi
34,139404.0,AN,Mohammed Abdul Kaleem,27/01/2020,Order,Wireless Keyboard,Keyboard,Dell,1150.0,1495.0,3.0,3450.0,4485.0,Ajay Sharma
35,139405.0,CH,Chandrakant Kasbe,28/01/2020,Order,USB Mouse,Mouse,Samsung,350.0,455.0,1.0,350.0,455.0,Roshan Kumar
36,139406.0,CH,Rohan Kale,29/01/2020,Order,"19"" LED Display",Monitor,Dell,9500.0,12350.0,3.0,28500.0,37050.0,Aarvi Gupta
37,139407.0,CH,Aniruddha Kekapure,30/01/2020,Processing,3 TB HDD,HDD,Western Digital,10000.0,13000.0,1.0,10000.0,13000.0,Vijay Singh
38,139408.0,CH,Aslam Raza,31/01/2020,Delivered,513 GB M.2,SSD,Samsung,6500.0,8450.0,3.0,19500.0,25350.0,Aadil Khan
39,139409.0,CH,Roshan Zameer,01/02/2020,Shipped,RYZEN 3rd gen. 3501,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Advika Joshi
40,139410.0,CH,Rakesh Kumar Sharma,01/02/2020,Shipped,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,3.0,21000.0,27300.0,Ajay Sharma
41,139411.0,CH,Shivanand Sahani,01/02/2020,Shipped,17 GB DDR4 RAM,Computer Case,Hynix,6550.0,8515.0,3.0,19650.0,25545.0,Roshan Kumar
42,139412.0,AR,Kunal Patra,01/02/2020,Shipped,Standard ATX motherboard,Mouse,Gigabyte,7650.0,9945.0,3.0,22950.0,29835.0,Aarvi Gupta
43,139413.0,AS,Bijendra,02/02/2020,Shipped,Compact with 1 Fan,Cabinet,Asus,1150.0,1495.0,1.0,1150.0,1495.0,Vijay Singh
44,139414.0,BR,Kranti Bheke,03/02/2020,Shipped,USB Backlight Keyboard,Keyboard,Dell,850.0,1105.0,1.0,850.0,1105.0,Aadil Khan
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,139415.0,CG,Jagdeep,03/02/2020,Shipped,Ergonomic Mouse,Mouse,Samsung,650.0,845.0,2.0,1300.0,1690.0,Ajay Sharma
47,139416.0,GA,Adhir Samal,03/02/2020,Shipped,"15"" LCD Dsipaly",Monitor,Dell,7500.0,9750.0,1.0,7500.0,9750.0,Roshan Kumar
48,139417.0,GJ,Dannana Jhammi,04/02/2020,Shipped,3 TB HDD,HDD,Seagate,10000.0,13000.0,3.0,30000.0,39000.0,Aarvi Gupta
49,139418.0,GJ,Vipin Kumar,05/02/2020,Shipped,2 TB SSD,SSD,Samsung,10500.0,13650.0,2.0,21000.0,27300.0,Vijay Singh
50,139419.0,GJ,Ranjeet Kumar,06/02/2020,Processing,Intel i5 12th gen.,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Aadil Khan

In [58]:
d[d.isna().any(axis=1)]

,Order_Number,State_Code,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales,Assigned Supervisor
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
dd=d.dropna()
dd

,Order_Number,State_Code,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales,Assigned Supervisor
0,139374.0,AP,Adhir Samal,11/01/2020,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450.0,1.0,6500.0,8450.0,Ajay Sharma
1,139375.0,AP,Dannana Jhammi,11/01/2020,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500.0,11050.0,3.0,25500.0,33150.0,Roshan Kumar
2,139376.0,AS,Vipin Kumar,11/01/2020,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,2.0,14000.0,18200.0,Aarvi Gupta
3,139377.0,BR,Ranjeet Kumar,11/01/2020,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515.0,3.0,19650.0,25545.0,Vijay Singh
4,139378.0,CG,Sajal Singhal,11/01/2020,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650.0,9945.0,4.0,30600.0,39780.0,Aadil Khan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,144464.0,TN,Rahul Kumar Prajapati,31/12/2022,Delivered,406 GB SSD,SSD,Samsung,4500.0,5850.0,1.0,4500.0,5850.0,Ajay Sharma
5106,144465.0,TR,Sagar Jeur,31/12/2022,Shipped,Intel i3 11th gen.,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Roshan Kumar
5107,144466.0,UK,Rhushikesh Mane,31/12/2022,Order,4GB Graphic card,Graphic Card,Nvidia,12500.0,16250.0,2.0,25000.0,32500.0,Aarvi Gupta
5108,144467.0,UP,Ashish Kumar,31/12/2022,Processing,158 GB DDR4 RAM,RAM,Hynix,3500.0,4550.0,2.0,7000.0,9100.0,Vijay Singh
5109,144468.0,WB,Javed Akhter,31/12/2022,Delivered,BTX motherboard,Motherboard,Gigabyte,4500.0,5850.0,3.0,13500.0,17550.0,Aadil Khan

In [62]:
dd[dd.isna().any(axis=1)]

Empty DataFrame
Columns: [Order_Number, State_Code, Customer_Name, Order_Date, Status, Product, Category, Brand, Cost, Sales, Quantity, Total_Cost, Total_Sales, Assigned Supervisor]
Index: []

In [63]:
d

,Order_Number,State_Code,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales,Assigned Supervisor
0,139374.0,AP,Adhir Samal,11/01/2020,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450.0,1.0,6500.0,8450.0,Ajay Sharma
1,139375.0,AP,Dannana Jhammi,11/01/2020,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500.0,11050.0,3.0,25500.0,33150.0,Roshan Kumar
2,139376.0,AS,Vipin Kumar,11/01/2020,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,2.0,14000.0,18200.0,Aarvi Gupta
3,139377.0,BR,Ranjeet Kumar,11/01/2020,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515.0,3.0,19650.0,25545.0,Vijay Singh
4,139378.0,CG,Sajal Singhal,11/01/2020,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650.0,9945.0,4.0,30600.0,39780.0,Aadil Khan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,144464.0,TN,Rahul Kumar Prajapati,31/12/2022,Delivered,406 GB SSD,SSD,Samsung,4500.0,5850.0,1.0,4500.0,5850.0,Ajay Sharma
5106,144465.0,TR,Sagar Jeur,31/12/2022,Shipped,Intel i3 11th gen.,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Roshan Kumar
5107,144466.0,UK,Rhushikesh Mane,31/12/2022,Order,4GB Graphic card,Graphic Card,Nvidia,12500.0,16250.0,2.0,25000.0,32500.0,Aarvi Gupta
5108,144467.0,UP,Ashish Kumar,31/12/2022,Processing,158 GB DDR4 RAM,RAM,Hynix,3500.0,4550.0,2.0,7000.0,9100.0,Vijay Singh
5109,144468.0,WB,Javed Akhter,31/12/2022,Delivered,BTX motherboard,Motherboard,Gigabyte,4500.0,5850.0,3.0,13500.0,17550.0,Aadil Khan

In [66]:
ddd= d.fillna("6")
ddd

,Order_Number,State_Code,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales,Assigned Supervisor
0,139374.0,AP,Adhir Samal,11/01/2020,Delivered,512 GB M.2,SSD,Samsung,6500.0,8450.0,1.0,6500.0,8450.0,Ajay Sharma
1,139375.0,AP,Dannana Jhammi,11/01/2020,Delivered,RYZEN 3rd gen. 3500,CPU,Intel,8500.0,11050.0,3.0,25500.0,33150.0,Roshan Kumar
2,139376.0,AS,Vipin Kumar,11/01/2020,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,2.0,14000.0,18200.0,Aarvi Gupta
3,139377.0,BR,Ranjeet Kumar,11/01/2020,Delivered,16 GB DDR4 RAM,RAM,Hynix,6550.0,8515.0,3.0,19650.0,25545.0,Vijay Singh
4,139378.0,CG,Sajal Singhal,11/01/2020,Order,Standard ATX motherboard,MotherBoard,Gigabyte,7650.0,9945.0,4.0,30600.0,39780.0,Aadil Khan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,144464.0,TN,Rahul Kumar Prajapati,31/12/2022,Delivered,406 GB SSD,SSD,Samsung,4500.0,5850.0,1.0,4500.0,5850.0,Ajay Sharma
5106,144465.0,TR,Sagar Jeur,31/12/2022,Shipped,Intel i3 11th gen.,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Roshan Kumar
5107,144466.0,UK,Rhushikesh Mane,31/12/2022,Order,4GB Graphic card,Graphic Card,Nvidia,12500.0,16250.0,2.0,25000.0,32500.0,Aarvi Gupta
5108,144467.0,UP,Ashish Kumar,31/12/2022,Processing,158 GB DDR4 RAM,RAM,Hynix,3500.0,4550.0,2.0,7000.0,9100.0,Vijay Singh
5109,144468.0,WB,Javed Akhter,31/12/2022,Delivered,BTX motherboard,Motherboard,Gigabyte,4500.0,5850.0,3.0,13500.0,17550.0,Aadil Khan

In [67]:
ddd[195:250]

,Order_Number,State_Code,Customer_Name,Order_Date,Status,Product,Category,Brand,Cost,Sales,Quantity,Total_Cost,Total_Sales,Assigned Supervisor
195,139558.0,OR,Aditya Agarwal,27/03/2020,Order,Micro ATX motherboard,Printer,MSI,6540.0,8502.0,3.0,19620.0,25506.0,Advika Joshi
196,139559.0,PB,Firdoush Jabee,27/03/2020,Processing,Gaming Box Cabinet,Cabinet,Asus,2680.0,3484.0,3.0,8040.0,10452.0,Ajay Sharma
197,6,6,6,6,6,6,6,6,6,6,6,6,6,6
198,139560.0,RJ,Jay Prakash Kumar,27/03/2020,Delivered,"17"" LCD Display",Monitor,Samsung,8250.0,10725.0,4.0,33000.0,42900.0,Aarvi Gupta
199,139561.0,SK,Ashish Pandey,27/03/2020,Shipped,13 GB DDR4 RAM,RAM,Samsung,2650.0,3445.0,4.0,10600.0,13780.0,Vijay Singh
200,139562.0,TN,Ajay Sharma,28/03/2020,Order,"26"" LCD Display",Monitor,Acer,12550.0,16315.0,4.0,50200.0,65260.0,Aadil Khan
201,139563.0,TR,Moinuddin Saifi,28/03/2020,Processing,I7 - intel 12th Generation,CPU,Intel,14500.0,18850.0,1.0,14500.0,18850.0,Advika Joshi
202,139564.0,UK,Ramkrishna Das Adhikary,28/03/2020,Delivered,USB Keyboard,Keyboard,Dell,800.0,1040.0,4.0,3200.0,4160.0,Ajay Sharma
203,139565.0,UP,Ranjeet Mandal,28/03/2020,Shipped,Wireless Mouse,Mouse,Samsung,600.0,780.0,2.0,1200.0,1560.0,Roshan Kumar
204,139566.0,UP,Ashwini Adsare,28/03/2020,Order,"21"" LCD Display",Monitor,Dell,10500.0,13650.0,1.0,10500.0,13650.0,Aarvi Gupta
205,139567.0,UP,Rajesh Variya,28/03/2020,Processing,7 TB HDD,HDD,Western Digital,6500.0,8450.0,4.0,26000.0,33800.0,Vijay Singh
206,139568.0,UP,Amit Singh,28/03/2020,Delivered,262 GB SSD,SSD,Samsung,4500.0,5850.0,2.0,9000.0,11700.0,Aadil Khan
207,139569.0,UP,Vinod Mehta,28/03/2020,Shipped,Intel i3 11th gen.,CPU,Intel,8500.0,11050.0,3.0,25500.0,33150.0,Advika Joshi
208,139570.0,UP,Jignesh Mhatre,28/03/2020,Order,4GB Graphic card,Graphic Card,Nvidia,12500.0,16250.0,2.0,25000.0,32500.0,Ajay Sharma
209,139571.0,UP,Rahul Kashyap,28/03/2020,Processing,14 GB DDR4 RAM,RAM,Hynix,3500.0,4550.0,4.0,14000.0,18200.0,Roshan Kumar
210,139572.0,UP,Mohammed Abdul Kaleem,28/03/2020,Delivered,BTX motherboard,Motherboard,Gigabyte,4500.0,5850.0,2.0,9000.0,11700.0,Aarvi Gupta
211,139573.0,UP,Chandrakant Kasbe,28/03/2020,Shipped,9 Fans Cabinet,Cabinet,Asus,2100.0,2730.0,1.0,2100.0,2730.0,Vijay Singh
212,139574.0,LD,Rohan Kale,28/03/2020,Order,Wireless Keyboard,Keyboard,Dell,1150.0,1495.0,1.0,1150.0,1495.0,Aadil Khan
213,139575.0,PY,Aniruddha Kekapure,28/03/2020,Processing,USB Mouse,Mouse,Samsung,350.0,455.0,2.0,700.0,910.0,Advika Joshi
214,139576.0,OR,Aslam Raza,28/03/2020,Delivered,"19"" LED Display",Monitor,Dell,9500.0,12350.0,2.0,19000.0,24700.0,Ajay Sharma
215,139577.0,PB,Roshan Zameer,28/03/2020,Shipped,8 TB HDD,HDD,Western Digital,10000.0,13000.0,4.0,40000.0,52000.0,Roshan Kumar
216,139578.0,RJ,Rakesh Kumar Sharma,28/03/2020,Order,518 GB M.2,SSD,Samsung,6500.0,8450.0,3.0,19500.0,25350.0,Aarvi Gupta
217,139579.0,SK,Shivanand Sahani,28/03/2020,Processing,RYZEN 3rd gen. 3506,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Vijay Singh
218,139580.0,TN,Kunal Patra,28/03/2020,Delivered,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,4.0,28000.0,36400.0,Aadil Khan
219,139581.0,TR,Bijendra,28/03/2020,Shipped,22 GB DDR4 RAM,RAM,Hynix,6550.0,8515.0,1.0,6550.0,8515.0,Advika Joshi
220,139582.0,UK,Kranti Bheke,28/03/2020,Order,Standard ATX motherboard,Motherboard,Gigabyte,7650.0,9945.0,1.0,7650.0,9945.0,Ajay Sharma
221,139583.0,UP,Jagdeep,28/03/2020,Processing,Compact with 1 Fan,Cabinet,Asus,1150.0,1495.0,1.0,1150.0,1495.0,Roshan Kumar
222,139584.0,WB,Adhir Samal,28/03/2020,Delivered,USB Backlight Keyboard,Keyboard,Dell,850.0,1105.0,4.0,3400.0,4420.0,Aarvi Gupta
223,139585.0,TN,Dannana Jhammi,28/03/2020,Shipped,Ergonomic Mouse,Mouse,Samsung,650.0,845.0,1.0,650.0,845.0,Vijay Singh
224,139586.0,TR,Vipin Kumar,28/03/2020,Order,"15"" LCD Dsipaly",Monitor,Dell,7500.0,9750.0,3.0,22500.0,29250.0,Aadil Khan
225,139587.0,AN,Ranjeet Kumar,28/03/2020,Processing,8 TB HDD,HDD,Seagate,10000.0,13000.0,1.0,10000.0,13000.0,Advika Joshi
226,139588.0,CH,Sajal Singhal,28/03/2020,Delivered,7 TB SSD,SSD,Samsung,10500.0,13650.0,1.0,10500.0,13650.0,Ajay Sharma
227,139589.0,DH,Akhilesh Kumar,28/03/2020,Shipped,Intel i5 12th gen.,CPU,Intel,8500.0,11050.0,2.0,17000.0,22100.0,Roshan Kumar
228,139590.0,DD,Suvankar Chakraborty,28/03/2020,Order,2GB Graphic Card,Graphic Card,Nvidia,7000.0,9100.0,4.0,28000.0,36400.0,Aarvi Gupta
229,139591.0,DL,Suvankar Adhikary,28/03/2020,Processing,10 GB DDR4 Ram,RAM,Hynix,1680.0,2184.0,1.0,1680.0,2184.0,Vijay Singh
230,139592.0,LD,Rahul Kumar Prajapati,28/03/2020,Delivered,Micro ATX motherboard,Motherboard,MSI,6540.0,8502.0,3.0,19620.0,25506.0,Aadil Khan
231,139593.0,PY,Sagar Jeur,28/03/2020,Shipped,Gaming Box Cabinet,Cabinet,Asus,2680.0,3484.0,3.0,8040.0,10452.0,Advika Joshi
232,139594.0,AP,Rhushikesh Mane,28/03/2020,Order,"17"" LCD Display",Monitor,Samsung,8250.0,10725.0,1.0,8250.0,10725.0,Ajay Sharma
233,139595.0,AR,Ashish Kumar,28/03/2020,Processing,14 GB DDR4 RAM,RAM,Samsung,2650.0,3445.0,3.0,7950.0,10335.0,Roshan Kumar
234,139596.0,AS,Javed Akhter,28/03/2020,Delivered,"26"" LCD Display",Monitor,Acer,12550.0,16315.0,4.0,50200.0,65260.0,Aarvi Gupta
235,139597.0,BR,Haridas Balraj,28/03/2020,Shipped,I7 - intel 12th Generation,CPU,Intel,14500.0,18850.0,1.0,14500.0,18850.0,Vijay Singh
236,139598.0,CG,Kundan Kumar,28/03/2020,Order,USB Keyboard,Keyboard,Dell,800.0,1040.0,4.0,3200.0,4160.0,Aadil Khan
237,139599.0,GA,Atif Siddiqui,28/03/2020,Processing,Wireless Mouse,Mouse,Samsung,600.0,780.0,4.0,2400.0,3120.0,Advika Joshi
238,139600.0,GJ,Aditya Agarwal,29/03/2020,Delivered,"21"" LCD Display",Monitor,Dell,10500.0,13650.0,3.0,31500.0,40950.0,Ajay Sharma
239,139601.0,HR,Firdoush Jabee,29/03/2020,Shipped,8 TB HDD,HDD,Western Digital,6500.0,8450.0,2.0,13000.0,16900.0,Roshan Kumar
240,139602.0,HP,Jay Prakash Kumar,29/03/2020,Order,263 GB SSD,SSD,Samsung,4500.0,5850.0,1.0,4500.0,5850.0,Aarvi Gupta
241,139603.0,JK,Ashish Pandey,29/03/2020,Processing,Intel i3 11th gen.,CPU,Intel,8500.0,11050.0,4.0,34000.0,44200.0,Vijay Singh
242,139604.0,JH,Ajay Sharma,29/03/2020,Delivered,4GB Graphic card,Graphic Card,Nvidia,12500.0,16250.0,3.0,37500.0,48750.0,Aadil Khan
243,139605.0,KA,Moinuddin Saifi,29/03/2020,Shipped,15 GB DDR4 RAM,Computer Case,Hynix,3500.0,4550.0,1.0,3500.0,4550.0,Advika Joshi
244,6,6,6,6,6,6,6,6,6,6,6,6,6,6
245,6,6,6,6,6,6,6,6,6,6,6,6,6,6
246,6,6,6,6,6,6,6,6,6,6,6,6,6,6
247,139606.0,KL,Ramkrishna Das Adhikary,29/03/2020,Order,BTX motherboard,Mouse,Gigabyte,4500.0,5850.0,1.0,4500.0,5850.0,Vijay Singh
248,139607.0,MP,Ranjeet Mandal,29/03/2020,Processing,10 Fans Cabinet,Cabinet,Asus,2100.0,2730.0,1.0,2100.0,2730.0,Aadil Khan
249,139608.0,MH,Ashwini Adsare,29/03/2020,Delivered,Wireless Keyboard,Keyboard,Dell,1150.0,1495.0,2.0,2300.0,2990.0,Advika Joshi