# Pandas Rivision

In [2]:
import pandas as pd

# Series

In [4]:
df=pd.Series()
print(df)
print(type(df))

Series([], dtype: object)
<class 'pandas.core.series.Series'>

In [7]:
# Simple series printing program
# Using list
p=[11,22,33,44,55,66]
df=pd.Series(p)
print(df)

0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64

In [5]:
# Using range function
p1=range(1,11)
df=pd.Series(p1)
print(df)

# In the output 1st column is of index and 2nd column is values

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Slicing in Series

In [13]:
p1=[1,2,3,4,5,6,7,8,9,10]
df=pd.Series(p1)
print(df[3])
print()
print(df[3:6])
print()
print(df[1:9:2])
print()
print(df[::-1])

3    4
4    5
5    6
dtype: int64

1    2
3    4
5    6
7    8
dtype: int64

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

In [14]:
#using numpy arange
import numpy as np
p1=np.arange(1,100,20)
df=pd.Series(p1)
print(df)

0     1
1    21
2    41
3    61
4    81
dtype: int32

# Data type conversion

In [34]:
p=range(1,25,3)
p1=[1.1,2.2,3.3,4.4,5.5]
df=pd.Series(p,dtype="float")
df1=pd.Series(p1)
print(df)
print(df.astype(float))
print(df.apply(float))
print(df.round().astype(float))
print()
print(df1.astype(int))
print(df1.apply(int))
print(df1.round().astype(int))

0     1.0
1     4.0
2     7.0
3    10.0
4    13.0
5    16.0
6    19.0
7    22.0
dtype: float64
0     1.0
1     4.0
2     7.0
3    10.0
4    13.0
5    16.0
6    19.0
7    22.0
dtype: float64
0     1.0
1     4.0
2     7.0
3    10.0
4    13.0
5    16.0
6    19.0
7    22.0
dtype: float64
0     1.0
1     4.0
2     7.0
3    10.0
4    13.0
5    16.0
6    19.0
7    22.0
dtype: float64

0    1
1    2
2    3
3    4
4    5
dtype: int32
0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    6
dtype: int32

# Indexing in Series

In [38]:
#Indexing provide index as your choice note no. of index must be same to no. of values
p2=range(1,7)
df=pd.Series(p2,index=["a","b","c","d","e","f"])
print(df)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [48]:
p=range(1,7)
df=pd.Series(p,index=[1,2,3,4,5,6])
print(df)

1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [53]:
p=pd.Series(12,index=[1,2,3,4,5,6])
print(p)

1    12
2    12
3    12
4    12
5    12
6    12
dtype: int64

In [45]:
# Using dictionary
d1={"name:":["C","python","java","R"],"year:":[1972,1991,1995,1900],"rank:":[3,1,2,4]}
df=pd.Series(d1)
print(df)
print(type(df))

name:        [C, python, java, R]
year:    [1972, 1991, 1995, 1900]
rank:                [3, 1, 2, 4]
dtype: object
<class 'pandas.core.series.Series'>

# Arithmatic operation on Series in pandas

In [61]:
#addition
#substraction
#multiplication
#division
p1=range(1,5)
p2=range(11,15)
df1=pd.Series(p1)
df2=pd.Series(p2)
print(df1)
print()
print(df2)
print()
p3=df1+df2
print("Addition:\n",p3)
print()
p4=df2-df1
print("Substraction:\n",p4)
print()
p5=df1*df2
print("Multiplication:\n",p5)
print()
p6=df2/df1
print("Division:\n",p6)

0    1
1    2
2    3
3    4
dtype: int64

0    11
1    12
2    13
3    14
dtype: int64

Addition:
 0    12
1    14
2    16
3    18
dtype: int64

Substraction:
 0    10
1    10
2    10
3    10
dtype: int64

Multiplication:
 0    11
1    24
2    39
3    56
dtype: int64

Division:
 0    11.000000
1     6.000000
2     4.333333
3     3.500000
dtype: float64

In [71]:
# Using build-in method
#1  add()
#2  subtract()
#3  multiply()
#4  divide()
p1=range(6,11)
p2=range(1,6)
df1=pd.Series(p1)
df2=pd.Series(p2)
add=df1.add(df2)
print("Addition")
print(add)
sub=df1.subtract(df2)
print("Subtraction")
print(sub)
mul=df1.multiply(df2)
print("Multiplication")
print(mul)
div=df1.divide(df2)
print("Division")
print(div)
power=df1.pow(df2)
print("Power")
print(power)

Addition
0     7
1     9
2    11
3    13
4    15
dtype: int64
Subtraction
0    5
1    5
2    5
3    5
4    5
dtype: int64
Multiplication
0     6
1    14
2    24
3    36
4    50
dtype: int64
Division
0    6.000000
1    3.500000
2    2.666667
3    2.250000
4    2.000000
dtype: float64
Power
0         6
1        49
2       512
3      6561
4    100000
dtype: int64

In [79]:
p=range(1,4)
df=pd.Series(p)
print(df)
a=df+3
b=df-1
c=df*4
d=df/2
e=df**3
print(a)
print(b)
print(c)
print(d)
print(e)

0    1
1    2
2    3
dtype: int64
0    4
1    5
2    6
dtype: int64
0    0
1    1
2    2
dtype: int64
0     4
1     8
2    12
dtype: int64
0    0.5
1    1.0
2    1.5
dtype: float64
0     1
1     8
2    27
dtype: int64

# Aggregation function

In [101]:
#1 min
#2 max
#3 sum
#4 len
#5 sorted
p1=range(1,6)
df=pd.Series(p1)
print(df)
print("Total length:",len(df))
print("Total sum:",sum(df))
print("minimum value:",min(df))
print("maximum value:",max(df))
print("Sorted values:",sorted(df))

0    1
1    2
2    3
3    4
4    5
dtype: int64
Total length: 5
Total sum: 15
minimum value: 1
maximum value: 5
Sorted values: [1, 2, 3, 4, 5]

In [7]:
p2=range(1,11)
df=pd.Series(p2)
print(df)
save=df.to_csv("series.csv",index=True)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
p3=range(2,50,2)
df=pd.Series(p3,name="Even_Number")
d=df.to_frame()
print(d)
s=d.to_csv("saveSeries.csv")

    Even_Number
0             2
1             4
2             6
3             8
4            10
5            12
6            14
7            16
8            18
9            20
10           22
11           24
12           26
13           28
14           30
15           32
16           34
17           36
18           38
19           40
20           42
21           44
22           46
23           48

In [6]:
import pandas as pd
df=pd.Series((1,2,3),index=["a","b","c"],=float)
print(df)

TypeError: Series.__init__() got an unexpected keyword argument 'astype'